body
{
	background-color: #ffffff;
	margin: 5px;
	padding: 0;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	overflow: hidden;
}
 /* Class for changing colour */
.red 
{
	color: red;
}
/* This is the main drawing Canvas */
#canvas
{
	background-color: #0000ff;
	padding:0px;
	margin: 0px;
	margin-top: 5px;
	width:80%;
}
/* This is the positioning div for the canvas */
#canvas1
{
	display:block;
	background-color: white;
	width:100%;
	padding:0px;
	margin:0px;
	margin-bottom: 0px;
}
/* Top bar of page */
#header
{
	display: block;
	padding:0px;
	margin:0px;
	border-style: ridge;
	background-color: blue;
	font-size: 3vw;
	color: white;
	padding-bottom: 5px;
}
/* Left hand side of page positioning */
#inside
{
	background-color: white;
	margin:0px;
	padding: 0px;
	margin-right: 5px;
	height: 100%;
	font-size: 1vw;
	color:white;
}
/* The bottom info panel */
#footer
{
	background-color: blue;
	padding:0px;
	margin:0px;
	font-size: 1vw;
	border-style: ridge;
	color: white;
	height:100%;
}
/* Container for left hand side of page */
#left
{
	display:inline;
	float:left;
	width:20%;
	margin:0px;
	padding:0px;
	margin-top: 5px;
	margin-right: 0px;
	background-color: white;
	color:white;
}
/* Top left info box */
#aside1
{
	float:left-side;
	display:block;
	color: white; 
	background-color: blue;
	height: 30%;
	margin-bottom:5px;
	font-size:1.5vw;
}

#modifyinvaderlink
{
	cursor:pointer;
	
}
/* Bottom left info box */
#aside2
{
	text-align:center-right;
	color:white;
	display:block;
	padding-top:5px;
	background-color: blue;
	height: 70%;
}
/********************/
/* CONTENT ELEMENTS */
/********************/

/* Grid to hold space invader */
#grid-container
{
	position:relative;
	top: 2vh;
	grid-gap:10 px;
	text-align:center;
	border: 0px solid white;
	grid-template-rows: auto;
	width:50%;
	display: none;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	background-color: blue;
	
}
/* Each element within grid */
.grid-item {
	text-align:center;
	/* equal width and height give a square! DOH! */
	width:75%;
	height:75%;
	background-color: blue;
	border: 1px solid white;
	padding: 0px;
	margin: 0px;
	font-size: 1vw;
}